<footer>
    <div class="logo">
        <h1 class="name">Developers Dungeon</h1>
        <h2 class="disclaimer">developersdungeon.xyz is not affilated with Discord Inc.</h2>
    </div>
    <div class="useful">
        <h2 class="title">Useful links</h2>
        <a href="/" class="link">Home</a>
        <a href="#projects" class="link">Projects</a>
        <a href="#staff"  class="link">Developers</a>
    </div>
    <div class="legal">
        <h2 class="title">Social</h2>
        <a href="https://discord.gg/NqDGtcB8Zt" target="_blank" class="link">Discord</a>
        <a href="https://github.com/Developer-Dungeon-Studio" target="_blank" class="link">Github</a>
    </div>
</footer>