<nav>
    <div class="title" onclick="window.location.href='https://developersdungeon.xyz/'">
        <img src="/assets/img/logo.webp" alt="Logo" class="logo">
        <h1 class="brand">Developers Dungeon</h1>
        <h1 class="brand-mobile">DD</h1>
    </div>
    <i class='bx bx-menu icon'></i>
    <div class="links">
        <a href="/" class="link"><i class='bx bx-home-alt-2'></i> Home</a>
        <a href="#projects" class="link"><i class='bx bx-food-menu'></i> Projects</a>
        <a href="#staff"  class="link"><i class='bx bx-code-alt'></i> Developers</a>
        <a href="https://discord.gg/NqDGtcB8Zt" class="link"><i class='bx bxl-discord'></i> Discord</a>
    </div>
</nav>

<div class="nav-window">
    <a href="/" class="item"><i class='bx bx-home-alt-2'></i> Home</a>
    <a href="https://discord.gg/NqDGtcB8Zt" class="item"><i class='bx bxl-discord'></i> Discord</a>
</div>